.wrap {
  align-items: center;
  display: flex;
  gap: var(--controller-gap);
}

.input {
  border: var(--controller-line) solid #000;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  color: #000;
  height: 24px;
  place-content: center;
  width: 24px;
}

.input::before {
  background-color: #000;
  border-radius: 50%;
  content: '';
  height: 16px;
  transform: scale(0);
  transition: 60ms transform ease-in-out;
  width: 16px;
}

.input:checked::before {
  transform: scale(1);
}

.label {
  font-size: var(--smaller_font_size);
}