.container {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: space-between;
  width: 84px;
}

.button,
.input {
  font-size: var(--smallest_font_size);
  outline: none;
}

.button {
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  height: 24px;
  place-items: center;
  width: 24px;
  z-index: 2;
}

.button:first-child { margin-right: -12px; }
.button:last-child { margin-left: -12px; }

.button_bg_yellow { background-color: var(--yellow); }
.button_bg_blue { background-color: var(--blue); }
.button_bg_green { background-color: var(--green); }

.textarea_bg_yellow { background-color: var(--yellow-pale); }
.textarea_bg_blue { background-color: var(--blue-pale); }
.textarea_bg_green { background-color: var(--green-pale); }

.input {
  border: 0;
  font-size: 12px;
  height: 24px;
  text-align: center;
  width: 60px;
  z-index: 1;
  -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
