.background_yellow {
  background-color: var(--yellow-pale);
}

.background_green {
  background-color: var(--green-pale);
}

.background_blue {
  background-color: var(--blue-pale);
}

.input {
  box-sizing: border-box;
  outline: none;
  resize: none;
  display: block;
  width: 100%;
}

.input,
.input::placeholder {
  color: #000;
  font-size: var(--regular_font_size);
  line-height: var(--regular_line_height);
}

.inner {
  border: none;
  border-radius: 24px;
  height: 144px;
  padding: 24px;
}

.outer {
  border-radius: 36px;
  padding: 36px;
}