.bg_blue { background-color: var(--blue-pale); }

.bg_green { background-color: var(--green-pale); }

.bg_purple { background-color: var(--purple-pale); }

.bg_yellow { background-color: var(--yellow-pale); }

.input {
  box-sizing: border-box;
  outline: none;
  resize: none;
  display: block;
  width: 100%;
}

.input,
.input::placeholder {
  color: #000;
  font-size: var(--regular_font_size);
  line-height: var(--regular_line_height);
}

.inner {
  border: none;
  border-radius: 24px;
  height: 144px;
  padding: 24px;
}