.aligned {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.order_section {
  display: flex;
  gap: 20px;
}

.length_section {
  align-items: center;
  display: flex;
  gap: 20px;
}

.switchs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  background-color: var(--muted_light);
  height: 116px;
  width: 1px;
}