.mode_section,
.length_section {
  padding-bottom: 24px;
  position: relative;
}

.mode_section::after,
.length_section::after {
  background-color: var(--muted-dark);
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;
  width: 100%;
}

.length_section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.trigger_section { padding-bottom: 24px; }