.mode_section {
  padding: 32px 24px 24px 24px;
  position: relative;
}

.length_section {
  padding: 20px 24px;
  position: relative;
}

.mode_section::after,
.length_section::after {
  background-color: var(--muted-dark);
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;
  width: calc(100% - 48px);
}

.length_section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.trigger_section {
  padding: 24px 24px 32px 24px;
}