.synth {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 48px;
}

.osc_wrap,
.mixer_wrap {
  border: none;
  display: grid;
  gap: 48px;
}

.osc_wrap {
  grid-template-columns: repeat(3, 1fr);
}

.mixer_wrap {
  grid-template-columns: 3fr 1fr;
}

.mixer_container {
  display: grid;
  gap: 48px;
}