:root {
  --panel-border: 2px solid #fff;
  --panel-radius: 32px;
  --panel-padding: 24px 8px;
  --controller-gap: 20px;
  --controller-line: 2px;
}

:root {
  --blue: hsl(190, 51%, 73%);
  --blue-pale: hsl(190, 51%, 87%);

  --dark: hsl(213, 11%, 20%);

  --muted-dark: rgba(0, 0, 0, .2);
  --muted-light: rgba(255, 255, 255, .2);

  --green: hsl(104, 46%, 63%);
  --green-pale: hsl(104, 46%, 83%);

  --red: hsl(1, 69%, 57%);

  --yellow: hsl(63, 75%, 69%);
  --yellow-pale: hsl(63, 75%, 89%);
}